@charset "UTF-8";

*{
    padding: 0%;
    margin: 0%;
}
body{
    background-color:#151515 ;
    font-family: Arial, sans-serif;
    display: flex;
    margin: 0;
    padding: 0;
    
}

.head-bar{
    padding: 10px;
    display: flex;
    width: 100%;
}

.nav-contact{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
}

.head-contact{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.list-nav{
    list-style-type: none;
    display: flex;
    gap: 20px;
    padding: 0;
    margin: 0;
    align-items: center;
    justify-content: flex-end;
    margin-left: auto;
}
.Sobre-mim, .Contato, .Curriculo, .Contate-me{
    display: flex;
    align-items: center;
    padding: 5px;
    margin: 5px;
    gap: 10px;
}

.Sobre-mim img.icone-sobre-mim, .Contato img.icone-contato, .Curriculo img.icone-curriculo{
    width: 24px;
    height: 24px;
    object-fit: contain;
}

.Sobre-mim a, .Contato a, .Curriculo a{
    text-decoration: none;
    color:#045955;
    font-size: 16px;
}

.btn-contato a{
    text-decoration: none;
    color: white;
    font-size: 16px;
}

.btn-contato{
    width: 150px;
    height: 40px;
    padding: 8px, 16px;
    font-size: 14px;
    background-color: #045955;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

.conteiner-figure{
    display: flex;
    position: absolute;
    top: 20px;
}

.figure{
    margin: 45px;
    display: flex;
}

.figure-img{
    max-width: 100%;
    width: 550px;
    height: auto;
    display: flex;

}

.info-class{
    display: flex;
    position: absolute;
    top: 200px;
    left: 50%;
    flex-direction: column;
}

.profissão{
    display: flex;
    font-size: 16px;
    color: white;
    background:linear-gradient(#073734, #045955);
    border-radius: 8px;
    padding: 8px, 12px;
    width: 240px;
}


.name{
    font-family: Arial, sans-serif;
    top: 65px;
    display: flex;
    font-size: 40px;
    background-image: linear-gradient(#073734, #045955);
    -webkit-background-clip: text;
    color: transparent;
    font-weight: bold;
    padding: 0;
    white-space: nowrap;
}


.saudacao{
    display: flex;
    color: white;
    font-size: 18px;
    line-height: 1.5;
    width: 500px;
    height: auto;
}

.btn-success{
    width: 100px;
    height: 50px;
    font-size: 20px;
    top: 200px;
    position: absolute;
    display: flex;
    cursor: pointer;
}

.btn-outline-success{
    width: 100px;
    height: 50px;
    font-size: 20px ;
    top: 200px;
    position: absolute;
    display: flex;
    left: 130px;
    color: white;
}

/*.secao-sobre{
    background-image: linear-gradient(#073734, #045955);
   
    
}
*/