@charset "UTF-8";

/*DEFINIÇÕES PARA A TELA*/
*{
    padding: 0%;
    margin: 0%;
}
body{
    background-color:#151515 ;
    font-family: "Montserrat", sans-serif;
}

/* CABEÇALHO - MENU */

.head-bar{
    padding: 10px;
    display: flex;
    width: 100%;
}

.nav-contact{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
}

.head-contact{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.list-nav{
    list-style-type: none;
    display: flex;
    gap: 20px;
    padding: 0;
    margin: 0;
    align-items: center;
    justify-content: flex-end;
    margin-left: auto;
}
.Sobre-mim, .Contato, .home, .Contate-me{
    display: flex;
    align-items: center;
    padding: 5px;
    margin: 5px;
    gap: 10px;
}

.Sobre-mim a, .Contato a, .home a, .especialidades a{
    text-decoration: none;
    color:white;
    font-size: 16px;
}

.Sobre-mim a:hover, .Contato a:hover, .home a:hover, .especialidades a:hover{
    color: #045955;
    transform: scale(1.05);
}

.btn-contato a{
    text-decoration: none;
    color: white;
    font-size: 16px;
}

.btn-contato a:hover{
    color: black;
    transform: scale(1.05);
}

.btn-contato:hover{
    box-shadow: 0px, 0px, 8px #045955;
    transform: scale(1.05);
}

.btn-contato{
    width: 150px;
    height: 40px;
    padding: 8px, 16px;
    font-size: 14px;
    background-color: #045955;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}


/*MENU MOBILE*/

.btn-abrirMenu{
    position: fixed;
    top: 20px;
    right: 20px;
    display: none;
}

.btn-abrirMenu i{
    color: #045955;
    font-size: 40px;
}

.overMenu-mobile{
    background-color: #1515159a;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 88888;
    display: none;
}

.menu-mobile{
    background-color: #151515;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 99999;
    width: 0%;
    overflow: hidden;
    cursor: pointer;
    transition: .4s;
}

.menu-mobile.abrir-menu{
    width: 70%;
}

.menu-mobile.abrir-menu ~ .overMenu-mobile{
    display: block;
}


.nav-mobile, .list-nav-mobile{
    text-align: right; 
    list-style-type: none;
}

.nav-mobile a, .list-nav-mobile a, .home-mobile a{
    color: white;
    font-size: 20px;
    font-weight: 300;
    padding: 20px 8%;
    display: block;
    text-decoration: none;
}

.nav-mobile a:hover, .list-nav-mobile a:hover, .home-mobile a:hover{
    background-color: #073734;
    color: white;

}
.btn-fechar{
    padding:20px 5%;
}
.btn-fechar i{
    color:#045955;
    font-size: 30px;
}


/* HOME DO SITE FOTO E APRESENTAÇÃO */

.conteiner-flex{
    display:flex;
}

.conteiner-figure{
    display: flex;
    align-items: center;
}

.figure-img{
    max-width: 100%;
    width: 500px;
    height: auto;
    border-radius: 8px;
}

/* Informações da saudação */

.info-class {
    display: flex;
    flex-direction: column;
    margin: 150px;
}

.saudacao{
    display: flex;
    font-size: 24px;
    color: white;
    padding: 8px, 12px;
}


.name{
    font-size: 48px;
    background-image: linear-gradient(#073734, #045955);
    -webkit-background-clip: text;
    color: transparent;
    font-weight: bold;
    padding: 0;
    white-space: nowrap;
}


.apresentacao{
    display: flex;
    color: white;
    font-size: 24px;
    line-height: 1.5;
    width: 500px;
    height: auto;
}
/* SEÇÃO SOBRE MIM SEGUNDA PÁGINA */

.secao-sobre{
    background-image: linear-gradient(#073734, #045955);
    flex-direction: column;
    display: flex;
    width: 100%;
    padding: 50px 20px ;
    box-sizing: border-box;
    margin-top: 60px ;
}

.title-sobre{
    color:white;
    display: flex;
    justify-content: center;
    text-align: center;
   font-size: 2.5rem;
   margin-bottom: 25px;
}

.descricao-sobre{
    display: flex;
    color: white;
    line-height: 1.5;
    text-align: center;
    justify-content: center;
    max-width: 80%;
    margin: 20px auto 30px;
    word-break: break-word;
    overflow-wrap: anywhere;
    white-space: normal;
}

.icons-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.icon-linked, .icon-git{
    width: 45px;
    height: 45px;
    object-fit: contain;
}

/*Seção minhas especialidades*/ 

.Back-end i, .MySQL i, .Banco-Dados i{
    font-size: 2.5rem;
    color: #073734;
    margin-bottom: 10px;
}

.Back-end , .MySQL , .Banco-Dados {
    color: white;
}


.title-espc span{
    color: #045955;
    font-weight: bold;
    margin-left: 10px;
}
.title-espc{
    color:white;
    display: flex;
    justify-content: center;
    text-align: center;
    text-align: center;
    margin-bottom: 45px;
    font-size: 2.5rem;
}

.sec-especialidades{
    padding: 50px 20px;
    margin: 50px;
}

.box-especialidade{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 30px;
    flex-wrap: wrap;
}

.espc-list{
    display: flex;
    gap: 30px;
    list-style: none;
    padding: 0;
    margin: 0;
}

.espc-list li{
    color: white;
    border-radius: 10px;
    border: 2px solid white;
    padding: 20px;
    text-align: center;
    width: 400px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.espc-list li:hover {
    transform: translateY(-10px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}


.espc-list li h3 {
    margin: 10px 0;
    font-size: 1.5rem;
}

.espc-list li p {
    font-size: 0.9rem;
    line-height: 1.6;
    color: #f1f1f1; 
}

/* PÁGINA MINHAS EXPERIÊNCIAS - TITULO */

.title-exp span{
    color: #045955;
    font-weight: bold;
    margin-left: 10px;
}


.title-exp{
    color:white;
    display: flex;
    justify-content: center;
    text-align: center;
    text-align: center;
    margin-bottom: 50px;
    font-size: 2.5rem;
}

.expUm img, .expDois img, .expTres img{
    font-size: 2.5rem;
    margin-bottom: 10px;
    max-width: 40%;
}

.expUm, .expDois, .expTres {
    color: white;
}




/*PAGINA MINHAS EXPERIENCIAS */ 

.box-experiencias{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 30px;
    flex-wrap: wrap;
    margin: 35px;
}

.list-exps{ 
    display: flex;
    gap: 30px;
    list-style: none;
    padding: 0;
    margin: 0;
}


.list-exps li{
    color: white;
    border-radius: 10px;
    border: 2px solid white;
    padding: 25px;
    text-align: center;
    width: 400px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.list-exps li:hover {
    transform: translateY(-10px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.list-exps li h3 {
    margin: 10px 0;
    font-size: 1.5rem;
    font-size: 22px;
}

.list-exps li p {
    font-size: 0.9rem;
    line-height: 1.6;
    color: #f1f1f1; 
}


/* RODAPÉ DO SITE */ 

.final-port{
    background-image: linear-gradient(#073734, #045955);
    display: flex;
    justify-content: center;
    align-items: center; 
    width: 100%; 
    min-height: 60px; 
}

.text-rodape{
    margin: 0;
    text-align: center;
    color: white;
}


@media screen and (max-width: 1400px){

    /*Classes Gerais */

    .conteiner-flex{
        flex-direction: column;
        width: 100%;
        gap: 20px;
    }

    /*Cabeçalho*/

    .nav-contact, .btn-contato{
        display: none;
    }

    /*Informações de apresentações*/

    .info-class {
        justify-content: center;
        align-items: center;
        margin: 0;
        flex-direction: column;
        padding: 15px 4%;
    }
    
    .saudacao{
        font-size: 22px;
        color: white;
        white-space: nowrap;
    }
    
    
    .name{
        font-size: 28px;
        white-space: nowrap;
    }
    
    
    .apresentacao{
        font-size:22px;
        width: 100%;
        height: auto;
    }


    /*SOBRE MIM*/
    
    .secao-sobre{
        width: 100%;
        padding: 20px 4% ;
        margin-top: 40px ;
    }
    
    .title-sobre{
       margin-bottom: 10px;
       font-size: 28px;
    }
    
    .descricao-sobre{
        font-size: 16px;
        max-width: 100%;
        margin: 20px auto 20px;
    }
    
    .icons-container{
        gap: 30px;
    }
    
    .icon-linked, .icon-git{
        width: 30px;
        height: 30px;
    }
    

    /* MINHAS ESPECIALIDADES*/

    
    .Back-end i, .MySQL i, .Banco-Dados i{
        font-size: 2.2rem;
        margin-bottom: 10px;
    }


    .title-espc{
        font-size: 28PX;
        margin: 20px;
    }

    .sec-especialidades{
        padding: 20px 10px;
        margin: 10px;
    }

    .box-especialidade{
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 15px;
    }

    .espc-list{
        gap: 15px;
        flex-direction: column;
        padding: 10px 2%;
        margin: 0;
    }

    .espc-list li{
        width: 100%;
        padding: 20px;
        max-width: 400px;
        box-shadow:none;
        transition: none;
    }


    .espc-list li h3 {
        font-size: 22px;
    }

    .espc-list li p {
        font-size: 18px;
    }

    .espc-list li:hover {
    transform:none;
    box-shadow:none;
    }


    /*MINHAS EXPERIÊNCIAS titulos*/


    .title-exp{
        margin: 10px;
        font-size: 28px;
    }

    .expUm img, .expDois img, .expTres img{
        font-size: 2.0rem;
        margin-bottom: 10px;
    }


    .experiencias-flex{
        padding: 20px 10px;
        margin: 10px;

    }

    .date-exp-01{
        font-size: 16px;
        margin: 15px;
    }


    /*PAGINA MINHAS EXPERIENCIAS */ 

    .box-experiencias{
       flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
        flex-wrap: none;
        margin: 0;
    }
    
    .list-exps{ 
        flex-direction: column;
        display: flex;
        gap: 20px;
        list-style: none;
        padding: 10px 2%;
        margin: 0;
    }
    


    .list-exps li{
        padding: 20px 10px;
        text-align: center;
        max-width: 400px;
        width: 100%;
        box-shadow: none;
        transition: none;
    }

    .list-exps li:hover {
        transform: none;
        box-shadow:none;
    }

    .list-exps li h3 {
        font-size: 22px;
    }

    .list-exps li p {
        font-size: 18px;
    }

    /*Menu mobile*/

    .btn-abrirMenu{
        display: block;
    }
}
