@charset "UTF-8";

*{
    height: auto;
}
img {
    width: 400px;
    height: -30px;
    border-radius: 45px;
    float: left;
    margin: -40px auto auto 30px;
}

body{
    font-family: public-sans;
    margin: 0;
    padding: 0;
    background-image: url('file:///C:/Users/55659/Desktop/Portifólio%20-%20Osvaldo%20Dias%20Junior/HOME.jpg');
}



header{
    background-image:url('file:///C:/Users/55659/Desktop/Portifólio%20-%20Osvaldo%20Dias%20Junior/HOME.jpg');
    color: white;
    text-align: left;
    padding: 29.1px 32px;
    width: 852.8px;
    height: 277.3px;
    font-size: 30px;
    
}

main{
    color: white;
    padding: 0px 30px;
    text-align: left;
}
h3, p{
    text-align: left;
    color: white;
    width: 356.6px;
    height:auto;
    margin: 48px 907.4px;
}
p{
    font-size: 22px;
    text-align: left;

}
h3{

    font-size: 28px;
}

section{
    margin-top: 20px;
}
h2{
    font-size: 55px;
    width: 852.8px;
    height: 110px;
    padding: 270px 5px;

}

table {
    width: 50%;
    height: 200px;
    border-collapse: collapse;
    margin: 90px 60px 50px auto;
    margin-top: 20px;
    padding: 30px 5px;
}
td, th {
    border: 4px solid #23286C;
    padding: 20px;
    text-align: left;
    font-size: 22px;
}


th {
    background-color: #23286C;
    text-align: center;
    font-weight: bold;


}
table.experiencia1{
    width: 600px;
    height: 280px;
    margin: auto 60px 110px 25px;
  
}
table.experiencia2{
    width: 600px;
    height: 280px;
    margin: auto 48px 130px 300px;
    float: right;
    margin-top: 20px;
}

table.experiencia3{
    width: 600px;
    height: 280px;
    margin: 50px 60px 200px 25px;
    float: left;
    margin-top: 10px;

}
section.formaçao{
    font-size: 55px;
    width: 80px;
    height: 30px;
    padding: 100px 180px 0 25px;
    margin-top: 10px;
    margin: 120px 60px 200px 25px;


}
th.ensino, td.instituicao{
    border: 4px solid #23286C;
    padding: 20px;
    font-size: 22px;
    text-align: center;
    font-weight: bold;
    

    
}

table.formacaofacul{
 width: 600px;
 height: 280px;
 border-collapse: collapse;
 margin: 25px 350px 50px auto;
 padding: 30px 5px;
}

table.Ensinomed {
    width: 600px; 
    height: 280px;
    border-collapse:collapse;
    margin: 25px 350px 50px auto;
    padding: 30px 5px;
}


img.estudo{
    width: 600px;
    height: 280px;
    border-radius: 45px;
    float: right;
    margin: 885.7px 80px 48px 10px;

}
section.competencias{
    font-size: 55px;
    margin-top: 8px;
    width: 300px;
    height: 350px;
    padding: 30px 5px;
    margin: 1250px 60px auto 25px;

    
}
table.cursos th, table.cursos td,
table.curso2 th, table.curso2 td,
table.curso3 th, table.curso3 td {
    border: 4px solid #23286C; 
    padding: 20px; 
    text-align: left;
    font-size: 22px;
    text-align: center;
    font-weight: bold; 
}

table.cursos{
    width: 600px; 
    height: 280px; 
    border-collapse: collapse;
    margin: 10px 25px 250px 10px; /* Centralize as tabelas horizontalmente */
    padding: 30px 5px;
}

table.curso2{
    width: 600px ;
    height:280px ;
    border-collapse:collapse ;
    margin: 10px 25px 200px 10px;
    padding: 30px 5px ;
}

table.curso3{
    width: 600px ;
    height:280px ;
    border-collapse:collapse ;
    margin: 10px 25px 200px 10px;
    padding: 30px 5px ;
}

section.contato{
    font-size: 55px;
    width: 600px ;
    height: 280px;
    padding: 30px 5px;
    margin-top: 10px;
    margin: 1500px 180px 80px 25px ;
    
}

table.contatos th, table.contatos td{
    border: 4px solid #23286C; 
    padding: 20px; 
    text-align: left;
    font-size: 22px;
    text-align: center;
    font-weight: bold; 

}
table.contatos{
    width: 600px ;
    height:280px ;
    border-collapse:collapse ;
    margin: 10px 25px 1500px 10px;
    padding: 30px 5px ;
}

footer{
    width: 600px ;
    height:280px ;
    border-collapse:collapse ;
    margin: 1200px 10px 48px 8px;
    text-align: left;
    padding: 30px 5px ;
}
